
.App {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;

}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  color: #000;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.movieItem{
border: 2px solid gray;
width: 300px;
margin: 5px;
}
.movieItem img{
  width: 100%;
}
.buttonBox{
  display: flex;
  justify-content: space-between;
flex-direction: row;
width: 300px;
}
.like{
  border: 1px solid blue;
  border-radius: 3px;
  background-color: rgba(206, 21, 21, 0.363);
  
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}
.itemContainer img{
  width: 350px;
}
.itemContainer {
  width: 350px;
  /* padding: 5px; */
  border: 1px solid gray;
  margin: 3px;
  border-radius: 3px;
}
.movieContainer{
  display: flex;
  width: 720px;
  flex-wrap: wrap;
}
.willWatch{
  background: green;
}
.sortBy{
  display: flex;
  width: 720px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(175, 175, 175, 0.486);
  border-radius: 5px;
}
.sortBy :hover{
  color: blue;
}
.active{
  background-color: rgb(40, 155, 37);
  height: 30px;
  border-radius: 3px;
}
.willWatchContainer{
  width: 200px;
  
}
.headContainer{
  display: flex;
  flex-wrap: wrap;
}
.PageBtnCont{
  display: flex;
  width: 720px;
  justify-content: space-around;
  align-items: center;
}
.changePageBtn :hover{
  background-color: rgb(40, 155, 37);
}
.activeChangePageBtn{
  background-color: rgba(175, 175, 175, 0.486);
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 5px;
  
}
.selected{
  background-color: rgb(40, 155, 37);
  border-radius: 2px;
}
.notSelected{
  background-color: rgb(155, 155, 137);
  border-radius: 3px;
  border: none;
}
.notSelected :hover{
  background-color: rgb(178, 224, 8);
}
.paginatorItemCont{
  display: flex;
justify-content: space-around;
width: 100%;
margin: 5px;
background-color: cornsilk;
}